@page
@model IssuMgr.Web.Pages.Issu.IndexModel
@{
    ViewData["Title"] = "Issues";
}
<h1>Issues</h1>

<a asp-page="./Create" class="btn btn-primary">Nuevo</a>
<br />
<hr/>
<partial name="Shared/_MsgErr" />

@if (Model.Issus != null && Model.Issus.Count > 0)
{
    <ul>
        @foreach (var lxIssu in Model.Issus)
        {
            <li>
                <div class="card">
                    <div class="card-title">@lxIssu.Tit</div>
                    <div class="card-text">
                        @lxIssu.Txt
                        @foreach (var lxLbl in lxIssu.LstLbl)
                        {
                            <span class="lbl" style="color: #@lxLbl.Clr; background-color: #@lxLbl.BkClr">@lxLbl.Lbl</span>
                        }
                    </div>
                    <div class="card-footer">
                        <span>Creada: @lxIssu.StmCre</span>
                        <div class="text-right">
                            <a asp-page="./Edit" asp-route-id="@lxIssu.IssuId">Edit</a> |
                            <a asp-page="./Delete" asp-route-id="@lxIssu.IssuId">Delete</a>
                        </div>
                    </div>
                </div>
            </li>
        }
    </ul>
}
else
{
    <p>No hay Issues</p>
}
<hr />