@page
@model IssuMgr.Web.Pages.Issu.IndexModel
@{
    ViewData["Title"] = "Issues";
}
<h1>Issues</h1>

<a asp-page="./Create" class="btn btn-primary">Nuevo</a>
<br />
<hr />
<partial name="Shared/_MsgErr" />

@if(Model.Issus != null || Model.Issus.Count > 0) {
    <table class="table table-hover table-sm mt-2">
        <tbody>
            @foreach(var lxIssu in Model.Issus) {
                <tr>
                    <td>
                        <div class="card">
                            <p class="card-title m-1 p-1">
                                <b>@lxIssu.Tit</b>&nbsp;
                                @if(lxIssu.LstLbl != null) {
                                    @foreach(var lxLbl in lxIssu.LstLbl) {
                                        <span class="lbl" style="color: #@lxLbl.Clr; background-color: #@lxLbl.BkClr"><small>@lxLbl.Lbl</small></span>
                                    }
                                }
                            </p>
                            <div class="card-footer p-1">
                                <div class="row">
                                    
                                    <div class="col">
                                        <small><a asp-page="./Details" asp-route-id="@lxIssu.IssuId" class="card-link">#@lxIssu.IssuId</a></small>
                                    </div>
                                    <div class="col">
                                        <small>Creada: @lxIssu.StmCre.ToString("dd/MM/yyyy hh:mm tt")</small>
                                    </div>
                                    <div class="col">
                                        <small>Modificada: @lxIssu.StmMdf.ToString("dd/MM/yyyy hh:mm tt")</small>
                                    </div>
                                    <div class="col">
                                        <div class="text-right">
                                            <a asp-page="./Edit" asp-route-id="@lxIssu.IssuId" class="card-link">Edit</a> |
                                            <a asp-page="./Delete" asp-route-id="@lxIssu.IssuId" class="card-link">Delete</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
} else {
    <p>No hay Issues</p>
}
<hr />