@page
@model IssuMgr.Web.Pages.Lbl.IndexModel
@{
    ViewData["Title"] = "Labels";
}

<h1>Labels (Etiquetas)</h1>

<a asp-page="./Create" class="btn btn-primary">Nueva</a>
<br />
<hr />
<partial name="Shared/_MsgErr" />

<table class="table table-hover table-responsive">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Etiqueta
            </th>
            <th>
                BkColor
            </th>
            <th>
                Color
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Lbls)
        {
            <tr>
                <td>@Html.DisplayFor(i => item.LblId)</td>
                <td>@Html.DisplayFor(i => item.Lbl)</td>
                <td>@Html.DisplayFor(i => item.BkClr)</td>
                <td>#@Html.DisplayFor(i => item.Clr)</td>
                <td><span class="lbl" style="color: #@item.Clr; background-color: #@item.BkClr">@item.Lbl</span></td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.LblId">Edit</a> |
                    <a asp-page="./Delete" asp-route-id="@item.LblId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<div>
    <ul class="pagination">
        <li class="page-item" @(!Model.MosPrm ? "disabled" : "")>
            <a asp-page="/lbl/index" asp-route-PagAct="1" class="page-link">
                <i class="fas fa-fast-backward"></i>
            </a>
        </li>
        <li class="page-item" @(!Model.MosPrv ? "disabled" : "")>
            <a asp-page="/lbl/index" asp-route-PagAct="@(Model.PagAct -1)" class="page-link">
                <i class="fas fa-step-backward"></i>
            </a>
        </li>
        <li class="page-item" @(!Model.MosSig ? "disabled" : "")>
            <a asp-page="/lbl/index" asp-route-PagAct="@(Model.PagAct +1)" class="page-link">
                <i class="fas fa-step-forward"></i>
            </a>
        </li>
        <li class="page-item" @(!Model.MosUlt ? "disabled" : "")>
            <a asp-page="/lbl/index" asp-route-PagAct="@Model.TotPag" class="page-link">
                <i class="fas fa-fast-forward"></i>
            </a>
        </li>
    </ul>
</div>
<hr />

