@page "{PagAct=1}/{OrdBy=LblId}/{EsDsn=false}"
@model IssuMgr.Web.Pages.Lbl.IndexModel
@{
    ViewData["Title"] = "Labels";
}

<h1>Labels (Etiquetas)</h1>

<a asp-page="./Create" class="btn btn-primary">Nueva</a>

<partial name="Shared/_MsgErr" />

<table class="table table-hover table-sm mt-2">
    <thead>
        <tr>
            <th>
                <a asp-page="Index" class="sort-link" asp-route-OrdBy="LblId" asp-route-EsDsn="@Model.EsDsn">Id</a>
                @if (Model.OrdBy == "LblId")
                {
                    <i class='fa fa-sort-@(Model.EsDsn ? "down" : "up")'></i>
                }
            </th>
            <th>
                <a asp-page="Index" class="sort-link" asp-route-OrdBy="Lbl" asp-route-EsDsn="@Model.EsDsn">Etiqueta</a>
                @if (Model.OrdBy == "Lbl")
                {
                    <i class='fa fa-sort-@(Model.EsDsn ? "down" : "up")'></i>
                }
            </th>
            <th>
                <a asp-page="Index" class="sort-link" asp-route-OrdBy="BkClr" asp-route-EsDsn="@Model.EsDsn">BkColor</a>
                @if (Model.OrdBy == "BkClr")
                {
                    <i class='fa fa-sort-@(Model.EsDsn ? "down" : "up")'></i>
                }
            </th>
            <th>
                <a asp-page="Index" class="sort-link" asp-route-OrdBy="Clr" asp-route-EsDsn="@Model.EsDsn">Color</a>
                @if (Model.OrdBy == "Clr")
                {
                    <i class='fa fa-sort-@(Model.EsDsn ? "down" : "up")'></i>
                }
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Lbls)
        {
            <tr>
                <td>@Html.DisplayFor(i => item.LblId)</td>
                <td>@Html.DisplayFor(i => item.Lbl)</td>
                <td>@Html.DisplayFor(i => item.BkClr)</td>
                <td>#@Html.DisplayFor(i => item.Clr)</td>
                <td><span class="lbl" style="color: #@item.Clr; background-color: #@item.BkClr">@item.Lbl</span></td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.LblId">Edit</a> |
                    <a asp-page="./Delete" asp-route-id="@item.LblId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<partial name="Shared/_Pag" model="@Model" />

<hr />

