@page
@model IssuMgr.Web.Pages.Lbl.IndexModel
@{
    ViewData["Title"] = "Labels";
}

<h1>Labels (Etiquetas)</h1>

<a asp-page="./Create">Nueva</a>

<partial name="Shared/_MsgErr"/>

<table class="table table-hover table-responsive">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Etiqueta
            </th>
            <th>
                BkColor
            </th>
            <th>
                Color
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Lbls) {
        <tr>
            <td>@Html.DisplayFor(i => item.LblId)</td>
            <td>@Html.DisplayFor(i => item.Lbl)</td>
            <td>@Html.DisplayFor(i => item.BkClr)</td>
            <td>#@Html.DisplayFor(i => item.Clr)</td>
            <td><span style="color: #@item.Clr; background-color: #@item.BkClr">@item.Lbl</span></td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.LblId">Edit</a> |
                <a asp-page="./Delete" asp-route-id="@item.LblId">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>

